/*intestazione*/

body {
    background-color: #f1f0f0; 
    margin: 0; 
    padding: 0;
}



.container-bianco {
    display: flex; 
    align-items: center; 
    background-color: white;
    padding: 10px;
    font-family: Arial;
    

}
/*bannere button*/


.banner {
  background-color: white;
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;  margin: 0 auto;
  margin-top: 20px;

}


.btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  opacity: 0.7; 
}

/* Pulsante blu */
.btn-blue {
  background-color: #007BFF;
  color: white;
}

/* Pulsante bianco */
.btn-white {
  padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
}

/* container principale*/




.container-white {
  width: 85%;
  background-color: white;
  align-items: center;
  gap: 20px; 
  margin: 0 auto;
  font-family: Arial;
  text-align: left;
 

}
/* Icone*/
.status {
    margin-right: 10px;
    font-size: 18px; 
}

.status.completed .fa-check-circle {
    color: #66bb6a; 
}
ul {
  list-style: none;
}



.tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.tag.editorial {
    background-color:#007BFF;
}
.status {
    margin-right: 10px;
    font-size: 18px; 
}

.status.completed .fa-check-circle {
    color: #66bb6a; 
}

 .tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

/* tag Q1 goals */
.tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.tag-Q1 {
    background-color:#85187c;
    border-radius: 8PX;
    color: #f1f0f0;
    font-size: small;
    padding: 4px 8px;
}
.status {
    margin-right: 10px;
    font-size: 18px; 
}

.status.completed .fa-check-circle {
    color: #66bb6a; 
}

 .tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

/* tag recruiting */
.tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.tag-recruiting {
    background-color:#93ef65;
    border-radius: 8PX;
    color: #f1f0f0;
    font-size: small;
    padding: 4px 8px;
}
.status {
    margin-right: 10px;
    font-size: 18px; 
}
.status.completed .fa-regular.fa-circle-xmark {
    color: #e50000;
}

 .tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

/* tag mobile */

.status.completed .fa-check-circle {
    color: #66bb6a; 
}
.tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.mobile {
    background-color:#efc365;
    border-radius: 8PX;
    color: #f1f0f0;
    font-size: small;
    padding: 4px 8px;
}
.status {
    margin-right: 10px;
    font-size: 18px; 
}


 .tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}
